# Enable tools
PHPCS_ACTIVE=1
PHPMD_ACTIVE=1

# Path to binaries.
PHPCS_BIN=/usr/local/bin/phpcs
PHPMD_BIN=/usr/local/bin/phpmd

# The PHP CodeSniffer coding standard, you can also specify a path to your 
# own standard here. 
# e. g. /path/to/my/standard/dir/
PHPCS_CODING_STANDARD=PSR2

# Comma-separated list of file patterns being ignored by PHP CodeSniffer.
PHPCS_IGNORE=

# Comma-seperated list of sniffs from PHP CodeSniffer that should be used.
# Use `phpcs --standard=PSR1 -e` to list sniffs for your standard.
PHPCS_SNIFFS=Generic.Files.ByteOrderMark,Generic.PHP.DisallowShortOpenTag

# Egrep compatible pattern of files to be checked by PHP CodeSniffer.
PHPCS_FILE_PATTERN="\.(php)$"

# Ignore PHP CodeSniffer warnings.
PHPCS_IGNORE_WARNINGS=1

# PHP CodeSniffer Encoding.
PHPCS_ENCODING=utf-8

# PHP Mess Detector output mode (default: text).
PHPMD_OUTPUT_MODE=text

# PHP Mess Detector patterns (defaults: cleancode).
PHPMD_PATTERNS=cleancode,codesize,controversial,design,naming,unusedcode

# PHP Mess Detector file suffixes
PHPMD_SUFFIXES=php

# PHP Mess Detector list of files/folders to exclude
PHPMD_EXCLUDE=

# List of file patterns to exclude (using `grep`)
GIT_EXCLUDE=
