# Path to binaries.
PHPCS_BIN=/usr/local/bin/phpcs
PHPMD_BIN=/usr/local/bin/phpmd

# The coding standard, you can also specify a path to your own standard here.
# e. g. /path/to/my/standard/dir/
PHPCS_CODING_STANDARD=PSR2

# Comma-separated list of file patterns being ignored.
PHPCS_IGNORE=

# Comma-seperated list of sniffs from the standard that should be used.
# Use `phpcs --standard=PSR1 -e` to list sniffs for your standard.
PHPCS_SNIFFS=Generic.Files.ByteOrderMark,Generic.PHP.DisallowShortOpenTag

# Egrep compatible pattern of files to be checked.
PHPCS_FILE_PATTERN="\.(php)$"

# Ignore warnings.
PHPCS_IGNORE_WARNINGS=1

# Encoding.
PHPCS_ENCODING=utf-8

# PHP Mess Detector output mode (default: text).
PHPMD_OUTPUT_MODE=text

# PHP Mess Detector patterns (defaults: cleancode).
PHPMD_PATTERNS=cleancode,codesize,controversial,design,naming,unusedcode
